@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@using Blazor.Components.Account
@using Blazor.Components.Pages
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject SignInManager<User> SignInManager
@inject IdentityRedirectManager RedirectManager

@code
{
    [SupplyParameterFromQuery] private string? ReturnUrl { get; set; }
    private AuthenticationState _authenticationState;

    protected override async Task OnInitializedAsync()
    {
        _authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
    }
    
    public async Task Logout()
    {
        await SignInManager.SignOutAsync();
        RedirectManager.RedirectTo("/");
    }
}

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a>@_authenticationState.User.Identity.Name</a>
            <button @onclick="@() => Logout()">Logout</button>
        </div>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>