<div style="position: relative; top: 0; inset: 0; background: white;">
    <nav>
        <NavLink href="/Manage">Manage</NavLink>
        <NavLink href="/Manage/Room">Rooms</NavLink>
        <NavLink href="/Manage/Workspace">Workspaces</NavLink>
    </nav>
</div>
@code {
    
}