<div>
    <nav class="navbar navbar-expand navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <NavLink class="navbar-brand" href="/Manage">Manage</NavLink>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/Manage/Room">Rooms</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/Manage/Reservations">Reservations</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/Manage/Users">Users</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/Manage/Statistics">Statistics</NavLink>
                </li>
            </ul>
        </div>
    </nav>
</div>
@code {
    
}