@* @page "/" *@
@* @page "/login" *@

<PageTitle>Login</PageTitle>

<style>
    body{
    background-image: url('Eneco_building1.jpg');
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    }
    
    .top-row.px-4 {
        background: rgba(255,255,255,80%) !important;
    }
</style>

<body>
    <div style="position: relative; left: 400px; top: 200px">
        <input style="width: 350px; margin-bottom: 5px" placeholder="Email" type="text" id="email" name="email"><br>
        <input style="width: 350px; margin-bottom: 15px" placeholder="Password" type="text" id="password" name="password"><br>
        <button type="submit">Login</button>
    </div>
</body>