@page "/Workspaces"
@inject RoomService RoomService

<PageTitle>Workspaces</PageTitle>

<h1>Workspaces</h1>
<div class="d-flex flex-wrap gap-5">

    @foreach (var workspace in _workspaceList)
    {
        <div>
            <div>
                <div class="title">
                    <h5>@workspace.Type @workspace.RoomNumber</h5>
                </div>
            </div>
            <div class="image">
                @if (workspace.Type == "meetingRoom")
                {
                    <img src="./MeetingRoom.png"
                         width="320"
                         height="180"
                         style="position: relative; top: -10px; border-radius: 10%;"
                         alt="Meeting Room">
                }
                @if (workspace.Type == "default")
                {
                    <img src="./Room.png"
                         width="320"
                         height="180"
                         style="position: relative; top: -10px; border-radius: 10%;"
                         alt="Room">
                }
            </div>
        </div>
    }

    @*<button @onclick="() => AddRoom()">Click to add a Room </button>*@
</div>

@code {

    private IEnumerable<Room?> _workspaceList = new List<Room?>();

    protected override async Task OnInitializedAsync()
    {
        _workspaceList = await RoomService.GetAllRoomsAsync();
    }

    // public void AddRoom( )
    // {
    //     List<Room> newWorkspaceList = new(workspaceList);
    //     newWorkspaceList.Add(new (1,workspaceList.Last().RoomNumber + 1));
    //     workspaceList = newWorkspaceList;
    //     StateHasChanged();
    // }
}