@page "/Workspaces"
<PageTitle>Workspaces</PageTitle>
<div>
    @*@code{

        public void AddRoom()
        {
            List<Room> newWorkspaceList = new(workspaceList);
            newWorkspaceList.Add(new (1,workspaceList.Last().RoomNumber + 1));
            workspaceList = newWorkspaceList;
            StateHasChanged();
        }
    }*@

    @code{

        List<Room> workspaceList = new()
        {
            new(1, 1), new(1, 2),
            new(1, 3), new(1, 4),
            new(1, 5)
        };

    }

    @foreach (var workspace in workspaceList)
    {
        <div>
            <div>
                <div class="title">
                    <h5>@workspace.Type @workspace.RoomNumber</h5>
                </div>
            </div>
            <div class="image">
                @if (workspace.Type == "meetingRoom")
                {
                    <img src="./MeetingRoom.png"
                         width="320"
                         height="180"
                         style="position: relative; top: -10px; border-radius: 10%;"
                         alt="Meeting Room">
                }
                @if (workspace.Type == "default")
                {
                    <img src="./Room.png"
                         width="320"
                         height="180"
                         style="position: relative; top: -10px; border-radius: 10%;"
                         alt="Room">
                }
            </div>
        </div>
        
    }

    @*<button @onclick="() => AddRoom()">Click to add a Room </button>*@
</div>