@page "/Manage/Users"
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@inject UserManager<User> UserManager
<h3>Users</h3>

@foreach (var user in UserList)
{
    <UserRow CurrentUser="user" />
}

@code {
    private List<User> UserList { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        UserList = await UserManager.Users.ToListAsync();
    }
}