@page "/Manage/Users"
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@inject UserManager<User> UserManager

<h3>Users</h3>

<div>
    <input @bind="SearchTerm" placeholder="Search users..." />
</div>

<table>
    <thead>
    <tr>
        <th>E-mail</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in FilteredUsers)
    {
        <UserRow CurrentUser="user" OnUserDeleted="HandleUserDeleted" />
    }
    </tbody>
</table>

@code {
    private List<User> UserList { get; set; } = new List<User>();
    private string SearchTerm { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await LoadUsers();
    }

    private async Task LoadUsers()
    {
        UserList = await UserManager.Users.ToListAsync();
    }

    private IEnumerable<User> FilteredUsers => UserList
        .Where(u => u.Email.Contains(SearchTerm, StringComparison.OrdinalIgnoreCase));

    private async Task HandleUserDeleted(User user)
    {
        // Refresh the user list
        await LoadUsers();
        StateHasChanged();
    }
}