@page "/Manage/Users"
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@inject UserManager<User> UserManager
<h3>Users</h3>

@foreach (var user in UserList)
{
    <p>@user.UserName @user.EmailConfirmed <button @onclick="() => Delete(user)">delete</button></p>
}

@code {
    private List<User> UserList { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        UserList = await UserManager.Users.ToListAsync();
    }

    private async Task Delete(User user)
    {
        await UserManager.DeleteAsync(user);
        await OnInitializedAsync();
    }
}