@page "/Manage/Workspace"
@inject WorkspaceService WorkspaceService

<PageTitle>Workspaces</PageTitle>

<h1>Workspaces</h1>
<div class="d-flex flex-wrap gap-5">

    @foreach (var workspace in Workspaces)
    {
        <div>
            <div>
                <div class="title">
                    <h5>@workspace.DeskName</h5>
                </div>
            </div>
        </div>
    }
</div>

@code {
    private List<Data.Workspace> Workspaces { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        Workspaces = (await WorkspaceService.GetAllWorkspacesAsync()).ToList();
    }

}